

h1   {
   text-align: center;
}

ul {
    list-style-type: none;
}

.service-list-container {
    margin-top: 20px;
  }
  
  .service-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .service-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .service-description {
    color: #555;
  }
  
  .service-price {
    font-weight: bold;
    color: #007bff;
  }
  

  