h5 {
    color: #906d05;
    text-align: center;
}

.categories-container {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 0 auto;
    max-width: 80vw;
}

.categories-list {
    border: 1px solid #611f1f;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.category-item:hover {
    color: orange;
    font-size: 25px;
    cursor: url('woodComb.jpg'), auto;
}

.categories-list a {
    text-decoration: none;

}