h2 {
    color: rgba(128, 0, 128, 0.516);
    text-align: center;
}

ul {
    gap: 4px;
}
.categories-container {
    margin-top: 20px;
    padding: 2px;
    text-align: center;
   
}

.category-item {
    font-size: 22px;
    height: 47px;
border-radius: 1em;
}

.category-item:hover {
    color: orange;
    font-size: 25px;
    cursor: pointer;
}