.styles-container {
  width: 60vw;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-Weight: bolder;
  margin: 0px 5px 5px 10px;
}

.style-item {
  margin-bottom: 3px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255, 222, 181, 0.484);
  border: .5px outset rgba(134, 39, 134, 0.286);
  border-radius: 5px;
  padding: 20px;
}

.styles-button {
  color: rgb(60, 60, 221);
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}

.button-s {
  background-color: rgba(0, 0, 0, 0);
  color: #906d05;
  font-weight: bold;
  border: none;
}


h5 {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-weight: bolder;
  color: #403939;
}