#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2px;
  text-align: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  height: 540px;
  padding: 1.2em;
  border-radius: 5em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 .4em 2.1em #a263fa77);

}

#button {
  border-radius: .5em;
}

.subtitle {
  color: rgba(128, 0, 128, 0.516); 
  text-align: center;
  margin-top: 20px; 
}