#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2px;
  text-align: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
}

#button {
  border-radius: .6em;
}

.logo {
  height: 30vh;
  padding: .4em;
  border-radius: 3em;
  border: 1px dotted #a263fa53;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(-.5em .6em .2em #2006442c);
  max-width: 75vw;
}

.subtitle {
  color: rgba(128, 0, 128, 0.516);
  font-style: italic;
}

.subtitle:hover {
  color: orange
}

.footer {
  color: white;
  font-style: italic;
}